extends layouts/root

block content
	table(width="100%")
		tbody
			tr
				td
				td(style="padding: 0" width="600")
					table(style="border-collapse: collapse")
						tbody
							tr
								td(style="padding: 15px 0")
									img(src="assets/img/test.jpg")
							tr
								td(style="background: #d9eda5") 1
				td 
